@import '../../components/variables.css';

.container {
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 7%;
  height: 500px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bodyContainer {
  margin-top: 24px;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wishMessage {
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
}

.signInMessage {
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;
  margin-top: 8px;
  color: #8492a6;
}

.passwordContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.passwordEntrySection {
  font-size: 14px;
  margin-top: 20px;
}

.passowrd {
  margin-top: 8px !important;
  width: 100%;
  position: relative !important;
  color: #eee;
}

.textbox {
  width: 400px;
  height: 38px;
  padding-left: 45px;
  border: 1px solid #eee;
  border-radius: 2px;
  outline: none;
  color: #8492a6;
  letter-spacing: 1px;
}

.doneIcon {
  width: 100px;
  height: 100px;
  margin: 20px 50px 0;
}

.textbox:focus {
  border: 1px solid #8492a6;
}

.invalidPasswordText {
  margin-top: 2px;
  color: #f5421d;
}

.loginBtn {
  margin-top: 30px;
  width: 200px;
  font-weight: normal;
  border-radius: 20px;
  background-color: #ec4c6f;
}

.passowrdImg {
  margin-left: 12px;
  margin-top: 9px;
  position: absolute !important;
}

.buttonContainer {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.doneText {
  opacity: 0.5;
  color: #000;
  margin-top: 16px;
  font-size: 16px;
}

@media only screen and (max-width: 1024px) {
  .container {
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media only screen and (min-width: 1208px) {
  .container {
    margin-top: 6%;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    margin-left: 29%;
    margin-right: 29%;
    margin-top: 6%;
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    margin-left: 37%;
    margin-right: 37%;
    margin-top: 10%;
  }
}
