.logInContainer {
  height: 100%;
  width: 500px;
  color: #3e3e5f;
  background-color: #fff;
}

.welcomeContainer {
  height: 100%;
  background-color: rgba(74, 144, 226, 0.1);
  width: calc(100% - 500px);

  img {
    width: 50%;
    margin: 0 auto;
  }
}

.mainContainer {
  position: relative;
  height: 100%;
  margin-left: 72px;
  margin-right: 72px;
  margin-top: 28%;
}

.logoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.logo {
  width: 220px;
  height: 80px;
}

.bottom {
  width: 100%;
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bottomText {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #3e3e5f;
}

.bottomSignUpBtn {
  width: 70px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.signUpBtnText {
  background-image: linear-gradient(70deg, #ec008c, #fc6767);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.67;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.query {
  width: 100%;
  position: absolute;
  top: 82%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.33;
  color: #3e3e5f;
}

.number {
  width: 100%;
  position: absolute;
  top: 84%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.33;
  color: #4a90e2;
}

.welcome,
.otpVerification,
.welcomeSetPassword {
  font-size: 21px;
  font-weight: 600;
  color: #3e3e5f;
  padding: 2px;
  padding-left: 0;
}

.signInText {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #3e3e5f;
  margin-top: 8px;
}

.admissionId {
  font-size: 14px;
  font-weight: normal;
  color: #5f6368;
  margin-top: 60px;
}

.textInput {
  width: 100% !important;
  height: 50px !important;
}

.lowerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn {
  width: 80%;
  height: 56px;
  border-radius: 32px;
  background-image: linear-gradient(81deg, #ec008c, #fc6767);
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btnText {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.welcomeSetPassword {
  padding-left: 8px;
  margin-bottom: 18px;
}

.enterPwd {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #3e3e5f;
  margin-top: 12px;
  padding-left: 8px;
}

.enterPwdSignInPage {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #3e3e5f;
  margin-top: 20px;
  padding-left: 8px;
  margin-bottom: 60px;
}

.error {
  margin: 4px 0 0 2px;
  color: #e50000;
}

.forgotPassword {
  float: right;
  margin-top: 20px;
  margin-right: 10%;
  font-size: 14px;
  line-height: 1.71;
  color: #4a90e2;
  cursor: pointer;
}

.otpText {
  font-size: 16px;
  font-weight: 300;
  color: #3e3e5f;
  margin-top: 8px;
}

.errorOtp {
  margin: 20px 0 0;
  color: #e50000;
  position: absolute;
  left: 60px;
}

.resend {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  color: #4a90e2;
  text-decoration: underline;
  margin: 24px 0 0;
  margin-left: 50%;
  cursor: pointer;
}

.textInputOtpContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 76%;
  margin: 12px 0 0;
}

.textInputOtp {
  border: 0 !important;
  border-bottom: 1px solid rgba(62, 62, 95, 0.3) !important;
  margin: 0 10px;
  text-align: center;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 22;
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
}

.loader img {
  left: 48%;
  position: fixed;
  top: 44%;
  z-index: 22;
  user-select: none;
}

@media only screen and (max-width: 1024px) {
  .mainContainer {
    margin-top: 10%;
  }

  .welcomeContainer {
    img {
      margin-top: 10px;
    }
  }

  .bottom {
    top: 80%;
  }
}

@media only screen and (max-width: 1280px) {
  .mainContainer {
    margin-top: 15%;
  }

  .welcomeContainer {
    img {
      margin-top: 10px;
    }
  }

  .bottom {
    top: 60%;
  }
}

@media only screen and (min-width: 1360px) {
  .mainContainer {
    margin-top: 15%;
  }

  .welcomeContainer {
    img {
      margin-top: 40px;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .logInContainer {
    width: 600px;
  }

  .welcomeContainer {
    width: calc(100% - 600px);
  }
}
