.logInContainer {
  height: 100%;
  width: 500px;
  color: #3e3e5f;
  background-color: #fff;
}

.welcomeContainer {
  height: 100%;
  background-color: rgba(74, 144, 226, 0.1);
  width: calc(100% - 500px);

  img {
    width: 50%;
    margin: 0 auto;
  }
}

.mainContainer {
  position: relative;
  height: 100%;
  min-height: 100%;
  margin-left: 72px;
  margin-right: 72px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.logo {
  width: 220px;
  height: 80px;
}

.signInBody {
  width: 100%;
  height: calc(100% - 3.5rem);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.customerInfo {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1rem;
}

.query {
  width: 100%;
  font-style: italic;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.33;
  color: #3e3e5f;
  text-align: center;
}

.number {
  width: 100%;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.33;
  color: #4a90e2;
  text-align: center;
  margin-top: 0.5rem;
}

.welcome,
.otpVerification,
.welcomeSetPassword {
  font-size: 21px;
  font-weight: 600;
  color: #3e3e5f;
  padding: 2px;
  padding-left: 0;
}

.signInText {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #3e3e5f;
  margin-top: 8px;
}

.admissionId {
  font-size: 14px;
  font-weight: normal;
  color: #5f6368;
  margin-top: 60px;
}

.textInput {
  width: 100% !important;
  height: 50px !important;
}

.lowerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn {
  width: 80%;
  height: 56px;
  border-radius: 32px;
  background-image: linear-gradient(81deg, #ec008c, #fc6767);
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btnText {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.welcomeSetPassword {
  padding-left: 8px;
  margin-bottom: 18px;
}

.enterPwd {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #3e3e5f;
  margin-top: 12px;
  padding-left: 8px;
}

.enterPwdSignInPage {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #3e3e5f;
  margin-top: 20px;
  padding-left: 8px;
  margin-bottom: 60px;
}

.error {
  margin: 4px 0 0 2px;
  color: #e50000;
  min-height: 1.5rem;
}

.forgotPassword {
  float: right;
  margin-top: 20px;
  margin-right: 10%;
  font-size: 14px;
  line-height: 1.71;
  color: #4a90e2;
  cursor: pointer;
}

.otpText {
  font-size: 16px;
  font-weight: 300;
  color: #3e3e5f;
  margin-top: 8px;
}

.resend {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  color: #4a90e2;
  margin: 12px 0;
  margin-left: 50%;
  cursor: pointer;
  text-align: right;
  min-height: 40px;
}

.disableResend {
  cursor: not-allowed;
  opacity: 0.6;

  .resendText {
    width: 120px;
  }
}

.textInputOtpContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 76%;
  margin: 12px 0 0;
}

.textInputOtp {
  border: 0 !important;
  border-bottom: 1px solid rgba(62, 62, 95, 0.3) !important;
  margin: 0 10px;
  text-align: center;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 22;
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
}

.loader img {
  left: 48%;
  position: fixed;
  top: 44%;
  z-index: 22;
  user-select: none;
}

/*
@media only screen and (max-width: 1024px) {
  .mainContainer {
    margin-top: 10%;
  }

  .welcomeContainer {
    img {
      margin-top: 10px;
    }
  }

  .bottom {
    top: 80%;
  }
} */

@media only screen and (min-width: 1440px) {
  .signInBody {
    width: 100%;
    height: calc(100% - 5rem);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .customerInfo {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .welcomeContainer {
    img {
      margin-top: 10px;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .logInContainer {
    width: 600px;
  }

  .welcomeContainer {
    width: calc(100% - 600px);
  }
}
