.iconContainer {
  height: 80px;
  padding: 50px 40px;
}

.icon {
  width: 60px;
}

.container {
  height: calc(100% - 130px);
  display: flex;
  justify-content: center;
}

.forgotCard {
  border-radius: 4px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 90%;
  width: 35%;
  padding: 50px;
}

.forgotIconContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconForgot {
  width: 70%;
  height: auto;
}

.forgot {
  font-size: 16px;
  font-weight: 600;
  color: #3e3e5f;
  padding-top: 16px;
}

.forgotText {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.67;
  color: #3e3e5f;
  padding-top: 8px;

  span {
    font-weight: 500 !important;
  }
}

.inputText {
  font-size: 14px;
  color: #5f6368;
  padding-top: 16px;
}

.textbox {
  padding-top: 4px;
  width: 100%;
  height: 48px !important;
  padding-left: 20px !important;
  border-radius: 2px;
  border: solid 1px rgba(62, 62, 95, 0.2);
  outline: none;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1.43;
  color: #5f6368;
}

.buttons {
  padding-top: 12px;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: flex-start;
}

.getPassword {
  border-radius: 18px;
  background-image: linear-gradient(77deg, #ec008c, #fc6767);
  margin-right: 12px;
}

.cancel {
  letter-spacing: 0.2px;
  color: #3e3e5f;
  cursor: pointer;
}

.containerGet {
  height: calc(100% - 130px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.getPasswordCard {
  border-radius: 4px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 50%;
  width: 40%;
  padding: 50px;
  text-align: center;
}

.checkedContainer {
  width: 100%;
  margin-bottom: 32px;
}

.iconChecked {
  width: 32px;
  height: 32px;
}

.passDescrion {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.43;
  color: #3e3e5f;

  span {
    color: #4a90e2;
    text-decoration: underline;
  }
}

.clickHere {
  cursor: pointer;
}
