.bodyOverlay {
  display: block;
  background: rgba(37, 37, 63, 0.78);
}

.marksModal {
  width: 500px;
  height: 266px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -133px 0 0 -250px;
  text-align: center;
  border-radius: 3px;
}

@media only screen and (min-width: 1361px) {
  .marksModal {
    width: 600px;
    margin: -133px 0 0 -300px;
  }
}
